*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$fontPrimary : 'Poppins', sans-serif;
$primaryColor: #f3a683;
$secondaryColor: #f7d794;
$textColor: #262626;
$textWhite: #ffffff;
$secondaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


body{
    color: #262626;
    font-size: 15px;
    font-family: $fontPrimary;
    font-weight: 1.5em;
}
h1, h2, h3, h4, h5{
    font-family: $secondaryFont;
    margin: 0 0 15px;
}
p{
    font-family: $fontPrimary;
    margin: 0 0 15px;
}